<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./clima/app.component.css">
  <title>Weather app Lean Tech</title>
</head>
<body>
  <section class="main-container">




    <div class="container">
    
    <!--Aqui hago un searcbar sencillo.Preferi NO utilizar Boostwatch-->
    <div class="searchbar">
      
        
          
            <form  (submit)="submitLocation(cityName, countryCode)">
              <div class="ingresa_ciudad">
                <input type="text" class="datos" placeholder="City Name" #cityName>
             </div>
    
              <div class="ingresa_codigopais">
                <input type="text" class="datos" placeholder="Country Code"  #countryCode>
              </div>
              
        
              <button type="submit" >
                Update
              </button>
            </form>
          </div>
    
        </div>
    
    
    
    
    <!--boton para cerrar card-->
    
            <div class="close-sign">
                <i class="fas fa-times"></i> 
            </div>
    
    <!--nombre ciudad-->
    
            <div class="location">
                <p>Barranquilla, Colombia</p>
            </div>
    
     
    
            <div class="notification"> </div>
    
    <!--temperatura suministrada en Farenheit por la API-->       
    
            <div class="weather-container">
                
                <div class="temperature-value ">
                    <p>Temperature: {{weather.main.temp}}</p>
                </div>
              
    
    <!--Conjunto de botones de conversion °C,F,K-->       
    
                <div class="buttons_unidades ">
                    <button class="temperatura active">C</button>
                    <button class="temperatura ">F</button>
                    <button class="temperatura">K</button>
                </div>
                
    <!--No me alcanzo para pensar como hacer iconos interactivos pero alli esta algo jeje-->                   
                <div class="weather-icon">
                    <img src="icons/hotWeather.svg" class="symbol" alt="">
                </div>
    
    
    <!--boton para hacer llamado a api-->       
                <div class="update" >
                    <button type="reset" id="reset">Update</button>
                </div>
            </div>
        </div>
    
    
    
    <!--Este es un modelo de como quedaria una card en clima calido-->       
        
        <div class="container">
            <div class="close-sign">
                <i class="fas fa-times"></i> 
            </div>
    
            <div class="location">
                <p>Barranquilla, Colombia</p>
            </div>
    
         
    
            <div class="notification"> </div>
    
            <div class="weather-container">
                
                <div class="temperature-value">
                    <p> 25°</p>
                </div>
                <div class="temperature-description">
                    <p>  </p>
                </div>
    
                <div class="buttons_unidades">
                    <button class="temperatura active">C</button>
                    <button class="temperatura ">F</button>
                    <button class="temperatura">K</button>
                </div>
                
                
                <div class="weather-icon">
                    <img src="icons/warmWeather.svg" class="symbol" alt="">
                </div>
    
                <div class="update" >
                    <button type="reset" id="reset">Update</button>
                </div>
            </div>
        </div>
    
    
    
    
    <!--Este es un modelo de como quedaria una card en clima frio-->    
        
        <div class="container">
    
            <div class="close-sign">
                <i class="fas fa-times"></i> 
            </div>
            <div class="location">
                <p>Barranquilla, Colombia</p>
            </div>
    
            
    
            <div class="notification"> </div>
    
            <div class="weather-container">
                
                <div class="temperature-value">
                    <p> 25°</p>
                </div>
                <div class="temperature-description">
                    <p>  </p>
                </div>
    
                <div class="buttons_unidades">
                    <button class="temperatura active">C</button>
                    <button class="temperatura ">F</button>
                    <button class="temperatura">K</button>
                </div>
                
                
                <div class="weather-icon">
                    <img src="icons/coldWeather.svg" class="symbol" alt="">
                </div>
    
                <div class="update" >
                    <button type="reset" id="reset">Update</button>
                </div>
            </div>
        </div>
    
    
    
    
    
                
    
    
    
    
    
    </section>
        
        <script src="app.js"></script>
        <script src="https://kit.fontawesome.com/28f02219d0.js" crossorigin="anonymous"></script>
  
     
  
  
  
    </div>
  </div>





</body>
</html>

